{% extends 'base.html' %}


{% block content %}

<style >
	* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}
.row {margin: 0 -5px;}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
}
</style>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Hotel Site</h1>
  <p class="lead">This is a test site made for internship. This is built with django framework , html and CSS.  <p>
</div>


<!-------------card--------->
<div>
	<div class="row">
	  <div class="column">
	    <div class="card"><h4><b>Hotels</b></h4>
	    	<p>Rooms, Pool, Restaurants, Parking</p></div>
	  </div>
	  <div class="column">
	    <div class="card"><h4><b>Luxury Hotels</b>
	    	<p>Luxury Rooms & Accomodations</p></div>
	  </div>
	  <div class="column">
	    <div class="card"><h4><b>Different Cities</b>
	    	<p>Jaipur , Delhi, Mumbai, Kolkata....</p></div>
	  </div>
	  <div class="column">
	    <div class="card"><h4><b>Check availability</b>
	    	<p>Discount upto 50%-70%</p></div>
  </div>
</div>
</div>
	




</div>


{% endblock content %}